SKUN_KABAM_SUPABASE_URL=https://hzvplpotsdzxygkxrgyi.supabase.co
SKUN_KABAM_DEVICE_ID=pc-do-user
SKUN_KABAM_DEVICE_SECRET=segredo_gerado_no_pc
SKUN_KABAM_MACHINE_CODE=PC-CAIXA-01
SKUN_KABAM_STORE_NAME=SkunKabam
