@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/_vinext_fonts/geist-8ac0455e797f/geist-98bbbccb.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/assets/_vinext_fonts/geist-mono-00e989178794/geist-mono-013b2f2f.woff2") format("woff2");
}

:root {
  --font-geist-sans: "Geist", Arial, Helvetica, sans-serif;
  --font-geist-mono: "Geist Mono", Consolas, monospace;
}

[hidden] {
  display: none !important;
}
