ROOT_DOMAIN=seudominio.com.br
CADDY_EMAIL=admin@seudominio.com.br

LANDING_HOST=seudominio.com.br
PDV_HOST=pdv.seudominio.com.br
ADMIN_HOST=admin.seudominio.com.br
CARDAPIO_HOST=cardapio.seudominio.com.br
SUPABASE_HOST=supabase.seudominio.com.br

SUPABASE_PUBLIC_URL=https://supabase.seudominio.com.br
SUPABASE_PUBLISHABLE_KEY=sb_publishable_sua_chave_publica
SUPABASE_SECRET_KEY=sua_service_role_ou_secret_key_somente_no_servidor

BVPDV_ADMIN_USER=admin@seudominio.com.br
BVPDV_ADMIN_PASSWORD=troque_por_uma_senha_forte
BVPDV_REQUIRE_SUPABASE=1
BVPDV_SUPABASE_BUCKET=balcao-admin
BVPDV_SUPABASE_OBJECT=admin-store.json
